@import 'base';

body, html {
  background: #005373;
  color: #FFF;
}

a, a:visited {
  color: $color--yellow;
  text-decoration: none;
  
  &:hover {
    color: #FFF;
  }
}


.core-layout__viewport {
  padding: 1em 2em;
  text-align: center;
  position: relative;
}
